{% extends 'base.html' %}

{% block content %}
  <h1>Dodaj posiłek</h1>
<form method="post">

    {% csrf_token %}
    <div id="ingredient-form-list">
    <div class="ingredient-form">{{ form.as_p }}</div>
        <button type="button" class="add-ingredient" id="add-ingredient">Dodaj składnik</button>
        <button type="button" class="delete-ingredient" id="delete-ingredient">Usuń składnik</button>

            {% for form in ingredient_formset %}

                <div class="hidden" id="empty-form">{{ form.as_p }}</div>

            {% endfor %}

        </div>
{% if ingredient_formset.errors %}
    <div class="alert alert-danger">
        {% for error in ingredient_formset.errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}
    <br>
  <button type="submit">Zapisz posiłek</button>
</form>

    <style>
    .ingredient-form{
        border-bottom: 1px solid black;
    }
    .hidden{
        display: none;
    }
    </style>
<script>
    const addMoreBtn = document.getElementById('add-ingredient')
    const totanNewForms = document.getElementById('id_ingredientquantity_set-0-ingredient')
    const currentIngredientForms = document.getElementsByClassName('ingredient-form')
    addMoreBtn.addEventListener('click', add_new_form)

    function add_new_form(event){
        if (event){
            event.preventDefault()
        }
        let cuttentFormCount = currentIngredientForms.length
        const formCopyTarget = document.getElementById('ingredient-form-list')
        const emptyFormEl = document.getElementById('empty-form').cloneNode(true)
        emptyFormEl.setAttribute('class', 'ingredient-form')
        formCopyTarget.append(emptyFormEl)
    }

</script>
{% endblock %}
